language: php
php:
    - "7.0"
    - "7.1"
    - "7.2"
notifications:
    email:
        on_success: "always"
        on_failure: "always"
install:
    - composer install --no-interaction
script:
    - mkdir -p build/logs
    - php ./vendor/bin/phpunit -c ./phpunit.xml.dist --coverage-clover ./build/logs/clover.xml
after_success:
    - travis_retry php vendor/bin/coveralls -v

